@charset "UTF-8";
/* Copyright 2021-2025 MarcosHCK
 * This file is part of scpbrowser.
 *
 * scpbrowser is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * scpbrowser is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with scpbrowser.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
@import "theme.scss";

body
{
  @extend %theme-div;
  display: block;
}

div.scp-container
{
  @extend %flexbox;
  width: 100%;

  main
  {
    width: 100%;

    div.scp-navigation-headerbar
    {
      @extend %flexbox;
      justify-content: start;
      position: relative;
      height: fit-content;
      width: 100%;

      h1
      {
        margin: 0px;
      }

      h2
      {
        margin: 0px;
      }

      a.scp-black-link
      {
        @extend %theme-link;
      }

      img.scp-logo
      {
        margin: 5px;
      }
    }

    div.scp-content-wrapper
    {
      @extend %flexbox;
      padding: 5%;
    }
  }
}

div.scp-expandable
{
  .title
  {
    display: inherit;
  }

  .content
  {
    transition: display .2s ease-in-out;
    -webkit-transition: display .2s ease-in-out;
  }

  .collapsed
  {
    display: none;
  }
}
