/* Copyright 2021-2025 MarcosHCK
 * This file is part of scpbrowser.
 *
 * scpbrowser is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * scpbrowser is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with scpbrowser.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
@import "theme.scss";

body
{
  display: block;
  @include theme();
}

div.scp-container
{
  display: flex;
  justify-content: center;
  vertical-align: start;

  div.scp-navigation-headerbar
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: 100%;

    h1
    {
      margin: 0px;
    }

    h2
    {
      margin: 0px;
    }

    a.scp-black-link
    {
      text-decoration: none;
      @include theme_link();
    }

    img.scp-logo
    {
      margin: 0px 5px 0px 5px;
      height: 128px;
      width: auto;
    }
  }

  div.scp-content-wrapper
  {
    display: flex;
    justify-content: center;
    padding: 5%;

    div.scp-purpose
    {
      width: 70%;
      border-radius: 5px;
      background: url(resources:///org/hck/scpbrowser/res/marble.png) repeat;
      padding: 20px;
      text-shadow: 1px 1px 1px rgba(0,0,0,.25);
      color: #333;
    }
  }
}
