@charset "UTF-8";
/* Copyright 2021-2025 MarcosHCK
 * This file is part of scpbrowser.
 *
 * scpbrowser is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * scpbrowser is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with scpbrowser.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
$text_color: rgb(207, 207, 209);
$back_color: rgb(13, 17, 23);
$release_color: rgb(30, 34, 40);
$hover_color: rgb(10, 14, 20);

%theme-div
{
  background-color: $back_color;
  color: $text_color;
}

%theme-link
{
  text-decoration: none;
  color: $text_color;
}

%theme-button
{
  color: $text_color;
  background-color: $release_color;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  &:hover
  {
    background-color: $hover_color;
  }
}

%flexbox
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
